body{
	background-color:#4A79A0;
}

h1{
  font-family: Lobster,cursive;
  font-size: 400;
  text-align: center;
  color:#FFCCCC;
}

p{
  color: #CCCCFF;
    font-family: 'Amatic SC', cursive;
		font-size: 100;
		text-align: center;
}


#container{
    width: 80%;
    background-color: #99CCCC;
    margin: 0 auto;
}

#nav {
    padding: 0;
	list-style-type: none;
}

#nav li {
    margin: 0;
    padding: 0;
	text-decoration: none;
}

#nav a:link, a:visited {
    display: block;
    color:#ffffff;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    font-family: Helvetica, Arial, sans-serif;
}

#nav a:hover, a:active {
    background-color: #FFCCCC;
}
