
body{
	background-color:#4A79A0;
  background-color: #56718F;
}

h1{
  font-family: Lobster,cursive;
  font-size: 50pt;
  text-align: center;
  color:#FFCCCC;
}

h2{
  font-weight: bold;
  text-align: center;
  color: #C39BD3;
  font-family: 'Amatic SC', cursive;
	font-size: 20pt;
}

p{
  color: #CCCCFF;
    font-family: 'Amatic SC', cursive;
		font-size: 18pt;
		text-align: center;
}


#container{
    width: 80%;
    background-color: #99CCCC;
    background-color: #759FBD;
    background-color:#B0C4DE;
    margin: 0 auto;
    text-align:center;
    padding:8px;
    margin-bottom: 50px;
}

#nav {
    padding: 0;
	  list-style-type: none;
}

#nav li {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    margin-top: 10px;
	  text-decoration: none;
}

.title1{
  font-family: 'Arimo', sans-serif;
  font-size: 12pt;
  font-weight: bold;
}

#nav a:link, a:visited {
    display: block;
    color:#ffffff;
    text-align:center;
    text-decoration: none;
    padding: 6px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: Helvetica, Arial, sans-serif;
}

#nav a:hover, a:active {
    background-color: #FFCCCC;
    background-color: #FADBD8;
    color: #CD5C5C;
}


h3{
  font-family: 'Satisfy', cursive;
  color: #3D5363;
}

h4{
font-family: 'Libre Barcode 128 Text', cursive;
font-size: 18pt;
  color: #BCD4E3;
  color: #F0F8FF;
}
